affine==2.4.0
diffusers==0.35.2
gdal==3.10.3
h5py==3.15.1
ismn==1.5.2
joblib==1.5.2
matplotlib==3.10.8
mgwr==2.2.1
numpy==2.4.1
pandas==3.0.0
pyproj==3.7.2
rasterio==1.4.3
scikit-learn==1.8.0
scipy==1.17.0
tqdm==4.67.1
xarray==2025.11.0
